:root {
    --primary-color: #24c8db;
    --menu-primary-color: #ffc132;
    --text-color: #2f2f2f;
}

body {
    background-color: var(--primary-color);
}

.text {
    background-color: var(--menu-primary-color);
    color: var(--text-color);
}

/* UI Extras */

.popupMenu {
    background-color: var(--menu-primary-color);
    color: var(--text-color);
}

.wordCount {
    color: var(--text-color);
}

.wordCount div {
    background-color: var(--menu-primary-color);
}