body{
  background-color: #041023;
}


textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}



#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}


#title {
  margin-bottom: 10px;
  min-width: 1ch;
  height: 10vh;
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
  width: 100%;
}

#titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}


#textDiv {
  margin-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.text {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  width: 95%;

  font-size: 20px;
  font-weight: 400;

  background-color: #161616;
  border-radius: 10px;
  color: #f6f6f6;

  line-height: 34px;

  outline: 0px solid transparent;
}

.wordCount {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}

.wordCount div {
  display: flex;
  flex-direction: row;
  gap: 3px;

  font-size: 14px;
  background-color: #1b1b1b;
  padding: 7px;
  padding-left: 10px;
  border-top-left-radius: 20px;

  user-select: none;
  cursor: default;
}